@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

:root{
    --cor1:#0080C8;
    --cor2:#E7E7E7;
    --cor3:#FFFFFF;
    --font: 'Montserrat', sans-serif;
}

html{
    font-size: 55.5%;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    background-image: url(img/wallpaper.jpg);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
}

/*Estilização HEADER*/
header{
    padding-top: 15px;
}
h1{
    color: #FFFFFF;
}
.navbar{ 
    max-width: 900px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    padding: 5px;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-family:var(--font);
    color: #FFFFFF;
}
nav ul li:hover{
   background-color: rgba(255, 255, 255, 0.144);
   transition: .5s;
}

nav ul li.inscreve,.entrar{
    padding: 8px 32px;
    border-radius: 4px;
}
nav ul li.inscreve{
    margin-right: 40px;
    background-color:var(--cor1); 
}
nav ul li.inscreve:hover{
    background-color: #014e7a;
}
nav ul li.entrar{
    border: 1px solid white; 
}
main {
    
    max-width: 900px;
    width: 90%;
    margin: auto;
    display: flex;
    
}
 main h2{
    font-size: 10.8rem;
    font-family: var(--font);
    font-weight: 800;
    color: #FFFFFF;
    display: block;
    line-height: 15.0rem;
}
.conteudoMain{
    display: flex;
    align-items: center;
}

.imgs{
    margin: 10%;
    margin-left: 18%;
    position: relative;
    
}
.imgs >p{
    font-size: 2.4rem;
    font-weight:600;
    font-family: var(--font);
    color: #FFFFFF;
    line-height: 2px;
}
.imgOne{
    width: 200px;
    height: 110px;
}
.imgTwo{
    width: 200px;
    height: 110px;
    padding-top: 23px;
}
.linkMain{
    margin-top: -10%;
}
.iconePlay{
    position: absolute;
    top: 38%;
    left: 2%;
    display: flex;
    align-items: center;
    
}
.imgs .ordemTrailer{
    color: #E7E7E7;
    font-family: var(--font);
    font-weight: 500;
    font-size: 1.8rem;
    padding-left: 140px;

}
.iconePlayTwo{
    position: absolute;
    top: 85%;
    left: 2%;
    display: flex;
    align-items: center;
}
.iconeHove{
    cursor: pointer;
    width: 28px;
    height: 27px;
}
.iconeHove:hover{
    transition: .5s;
    width: 30px;
    height: 29px;
}

